<html>
  <head>
    <title>Index of blob</title>
  </head>
  <body bgcolor="white">
    <table>
      <tbody>
      {%- for entry in contents if entry.type == 'dir' %}
      <tr>
        <td class="text-xs-left " data-sort-value="dir-{{ entry.name | lower }}"><i class="fa fa-fw fa-folder " aria-hidden="true"></i>&nbsp;<a href="{{ entry.name }}/" ><strong>{{ entry.name }}</strong></a></td>
      </tr>
      {%- endfor %}
      {%- for entry in contents if entry.type == 'file' %}
      <tr>
        <td class="text-xs-left " data-sort-value="file-{{ entry.name | lower }}"><i class="fa fa-fw fa-file " aria-hidden="true"></i>&nbsp;<a href="{{ entry.name }}" ><strong>{{ entry.name }}</strong></a></td>
      </tr>
      {%- endfor %}
      </tbody>
    </table>
  </body>  
</html>